# Ignore node_modules directory
**/node_modules

# Ignore build output
**/build
# Ignore environment variables
/.env
**/.env

# Ignore log files
*.log

# Ignore IDE/Editor-specific files
.vscode/
.idea/
.DS_Store