.card {
  width: 18rem;
  margin: 0.5rem;
}

.homepageMessageText {
  text-align: center;
}

.HomeMessageDate {
  float: left;
}

.HomeMessageSender {
  float: right;
  color: rgb(24, 116, 79);
}

.HomeNotifications {
  display: flex;
  flex-wrap: wrap;
}
