.userCardUsername {
  font-weight: bold;
  float: left;
  margin-right: 0.5rem;
}

.friend {
  color: forestgreen;
}

.notFriend {
  color: red;
}

.requestSent {
  color: rgb(179, 176, 28);
}

.requestReceived {
  color: rgb(6, 74, 6);
}

.requestReceivedButtons {
  display: flex;
}

.requestReceivedButtons button {
  margin-right: 0.5rem;
  max-height: 2.5rem;
}
